.floating-card {
    display: inline-block;
    position: relative;
    padding: 1.5em;
    background: #333;

    max-height: 50%;
    border-radius: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);

}

canvas {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
