.Typewriter {
  display: inline !important;
}

.Typewriter__cursor {
  /* border-left: 0.08em solid #333;
  animation: blink 1s infinite; */
  font-weight: 100
}

.black-glass {
    background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
    );
    padding: 1em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.floating-card {
  display: inline-block;
  position: relative;
  padding: 1.5em;
  background: #333;
  width: 100%;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);

}
